.page-title {
	margin-left: 100px;
}
.feed {
	margin-left: 100px;
	margin-right: 100px;
	margin-top: 50px;
	min-height: 1000px;
}
.feed h3 {
	border: 1px solid #333;
	padding: 20px;
}

.new-meow {
	padding: 20px;
	width: 100%;	
}